
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family: 'Open Sans'
 }
.main {
    background-color: #F4F6F6;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header {
    height: 90px;
    background-color: #0073A1;
}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #555555;
    padding-left: 40px;
    padding-top: 40px;
    border-bottom: solid 3px black;
    padding-bottom: 15px;
    margin-bottom: 55px;

}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}


.paragraph_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    padding: 20px 40px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.blue_name {
    color: #003471;
}
.date {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #0073A1;
    padding: 28px 40px;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
    padding:28px 40px ;}
.button {
    width: 230px;
    background: #0073A1;
    border-radius: 40px;
    margin-top: 60px;
    padding: 19px 65px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}